@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Rubik:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

body {
  font-family: "Rubik", sans-serif;
  color: #555555;
}

a {
  text-decoration: none;
}

.header {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: white;
}

.header__logo {
  font-size: 2.8rem;
}

.header__nav {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 3rem;
  left: 3rem;
  width: 80vw;
  padding: 1.5rem;
  background-color: #8b898d;
}

.header__nav ul {
  float: right;
}

.header__nav ul li {
  display: inline-block;
  font-size: 2.2rem;
  margin-left: 1.5rem;
  text-decoration: none;
}

.header__nav ul li a {
  color: #555555;
}

.header__nav box-icon {
  color: #555555 !important;
  height: 30px;
  width: 30px;
  line-height: 30px;
}

.header__social-icons {
  position: absolute;
  left: 5rem;
  bottom: 5rem;
}

.header__social-icons img {
  height: 4.5rem;
  margin-right: 2.5rem;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__social-icons img:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-box-shadow: 0 0.5rem 0.8rem 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.5rem 0.8rem 0 rgba(0, 0, 0, 0.5);
}

.header__sale-text {
  z-index: 10;
  position: absolute;
  right: 7.5rem;
  bottom: 7.5rem;
  line-height: 6rem;
  color: white;
}

.header__sale-text h1 {
  font-family: "Monoton";
  font-size: 9.6rem;
  font-weight: 100;
}

.header__sale-text p {
  font-size: 3.2rem;
  letter-spacing: 0.5rem;
}

.header__text-box {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 12.5rem;
  border-left: 0.7rem solid #0bbee5;
  padding-left: 2rem;
}

.header__text-box h1 {
  font-size: 6rem;
  line-height: 90%;
}

.header__text-box p {
  margin: 1.5rem 0;
  line-height: 150%;
  width: 50rem;
  font-size: 2.4rem;
}

.header__text-box a {
  display: inline-block;
  text-decoration: none;
  background-color: #0bbee5;
  color: white;
  font-size: 3.2rem;
  padding: 0.5rem 2.5rem;
  border-radius: 0.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__text-box a:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-box-shadow: 0 0.5rem 0.8rem 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.5rem 0.8rem 0 rgba(0, 0, 0, 0.5);
}

.header__background {
  position: absolute;
  height: 95%;
  width: 60%;
  bottom: 0;
  right: 0;
  background-image: url(background.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(31% 24%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(31% 24%, 100% 0, 100% 100%, 0% 100%);
}

.header__background img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.header__background img:nth-child(1) {
  -webkit-transform: translate(5rem, 5rem);
          transform: translate(5rem, 5rem);
}

.header__background img:nth-child(2) {
  -webkit-transform: translate(10rem, 10rem);
          transform: translate(10rem, 10rem);
}

.header__background img:nth-child(3) {
  -webkit-transform: translate(15rem, 15rem);
          transform: translate(15rem, 15rem);
}

@media screen and (max-width: 767px) {
  html {
    font-size: 70%;
  }
  .header__nav {
    width: 100%;
    height: 8rem;
    top: 0;
    left: 0;
    z-index: 10000;
  }
  .header__nav ul {
    position: absolute;
  }
  .header__nav .active {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */